@import url("assets/css/font-awesome.min.css");

h1
{
color: #f39c12 !important;
font: bold 20px 'Source Sans Pro';
}
.cart{

}
.prices
{
content: "\f06e";
font: normal 20px 'Source Sans Pro';
border-radius: 3px;
background: #f39c12;
text-align: center;
padding: 8px;
color: #f39c12 !important;

}